<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="TestsRunner" name="Provides additional tests runner" schema="schema/TestsRunner.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.cdt.testsrunner.internal.launcher.RunTestsLaunchDelegate"
            id="org.eclipse.cdt.testsrunner.launch.testsRunner"
            modes="run"
            name="C/C++ Unit"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.cdt.testsrunner.internal.ui.launcher.TestsRunnerConfigurationTabGroup"
            description="Run C/C++ Tests"
            id="org.eclipse.cdt.testsrunner.launch.testsRunnerTabGroup"
            type="org.eclipse.cdt.testsrunner.launch.testsRunner">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.cdt.ui.views"
            class="org.eclipse.cdt.testsrunner.internal.ui.view.ResultsView"
            icon="$nl$/icons/eview16/cppunit.gif"
            id="org.eclipse.cdt.testsrunner.resultsview"
            name="C/C++ Unit"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.cdt.testsrunner.launch.testsRunner"
            icon="$nl$/icons/eview16/cppunit.gif"
            id="org.eclipse.cdt.testsrunner.launch.testsRunner.image">
      </launchConfigurationTypeImage>
   </extension>

   

   
   
</plugin>
